@page "/account"

<h3>Accounts</h3>
<FluentDataGrid ShowHover TGridItem="Account" Items="AllAccounts" Style="width:20rem">
    <PropertyColumn Property="@(p => p.Name)" Title="Account" Sortable="true" Width="10rem" />
    <PropertyColumn Property="@(p => p.Type)" Title="Type" Sortable="true" Width="8rem" />
</FluentDataGrid>

@code {
    [CascadingParameter] GlobalMessage MyGlobalMsg { get; set; }
    [Inject] public IUIAccountService MyAccountService { get; set; } = null!;

    private IQueryable<Account> AllAccounts { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var accts = await MyAccountService.GetAllAccounts();
        AllAccounts = accts.AsQueryable();
    }
}
